* {
    margin: 0;
    padding:0;
}
h1{
    color: steelblue;
}


.red_paragraph {
    margin-left: 10px;
    border-color: red;
}


#box-1{
    background-color:#333;
    color:#fff;
    border: 5px red solid;
    padding:20px;
    margin: 20px 5px;
}