* {
    margin: 10px;
    padding:10px;
}
h1{
    color: steelblue;
}

h2{
    color:mediumblue;
    padding: 10px;
}
#box-1 h2{
    color: yellow;
    font-style: italic;
    letter-spacing: 0.3em;
}
#box-1{
    background-color:#333;
    color:#fff;
    border: 5px red solid;
    padding:20px;
    margin: 20px 5px;
}


.box-2 {
    border: 3px solid #ccc;
    padding:20px;
    margin: 20px 5px;
}
a {
    text-decoration: none;
    color: white;
    background-color: darkblue;
    padding: 10px;
    margin: 20px;
    border: 1px black solid;
    border-radius: 5px;


}
a:hover {
    color: red;
    background-color: white;
}
a:active{
    background-color:red;
    color:white;
    border: 1px red solid;
}
a:visited {
    background-color: purple;
}
